# Ignore build files
iris/build/
iris/install/
iris/devel/
iris/terrain
iris/log/
iris/logs/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python bytecode
*.pyc

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore system files
*.swp

# Ignore MAV parameter and log files
*.parm
*.tlog
*.tlog.raw

# Ignore binary EEPROM files
eeprom.bin

